header {
  background-color: black;
  padding: 20px 0;
}
header .navbar-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  animation: fadeIn 10s ease;
}
header .navbar-brand h1 {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: color 0.3s ease;
}
header .navbar-brand h1:hover {
  color: #746f6f;
}
header .separator {
  width: 100%;
  height: 0px;
  margin-bottom: 10px;
}
header .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navbar-nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
header .navbar-nav .nav-link:hover {
  background-color: #746f6f;
}
@media (max-width: 991.98px) {
  header .navbar-toggler {
    margin-right: auto;
  }
  header .navbar-collapse {
    margin-top: 20px;
  }
  header .navbar-nav {
    flex-direction: column;
    align-items: center;
  }
  header .navbar-nav .nav-link {
    margin-bottom: 10px;
  }
}

#navegacion-principal {
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
#navegacion-principal .navbar-nav {
  margin: 0 auto;
}
#navegacion-principal .nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
}

#pie-de-pagina {
  padding: 20px;
  text-align: center;
  border-top: 1px solid white;
}
#pie-de-pagina .texto-pie small {
  font-size: 18px;
  color: white;
}
#pie-de-pagina .texto-pie address {
  font-size: 18px;
}
#pie-de-pagina .redes-sociales {
  margin-top: 20px;
}
#pie-de-pagina .redes-sociales a {
  color: white;
  font-size: 30px;
  margin: 0 10px;
  animation: slideInUp 10s ease;
}

#contenido-principal {
  padding: 20px 0;
}

#bienvenida {
  padding: 40px 0;
  text-align: center;
}
#bienvenida h2 {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 20px;
}
#bienvenida p {
  font-size: 26px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.carousel-image {
  height: 800px;
  object-fit: contain;
}

.carousel .custom-carousel-indicators {
  position: static;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.carousel .custom-carousel-indicators button {
  width: 92px !important;
  height: 120px !important;
  margin: 0 20px !important;
  border: none !important;
  opacity: 0.7 !important;
  transition: opacity 0.3s ease !important;
}
.carousel .custom-carousel-indicators button.active {
  opacity: 1;
}
.carousel .custom-carousel-indicators button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767.98px) {
  .carousel .custom-carousel-indicators {
    margin-top: 10px;
  }
  .carousel .custom-carousel-indicators button {
    width: 60px !important;
    height: 80px !important;
    margin: 0 10px !important;
  }
}

.contenido-cambios {
  display: flex;
  flex-wrap: wrap;
}
.contenido-cambios .imagen-cambios {
  flex: 0 0 100%;
  padding-right: 20px;
  margin-bottom: 20px;
}
.contenido-cambios .imagen-cambios img {
  width: 100%;
  height: auto;
}
.contenido-cambios .texto-cambios {
  flex: 0 0 100%;
  line-height: 1.5;
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
.contenido-cambios .texto-cambios h1 {
  font-family: "fuente", Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 1.5rem;
}
.contenido-cambios .texto-cambios h2 {
  margin-top: 0;
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
.contenido-cambios .texto-cambios p {
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
.contenido-cambios .texto-cambios ul {
  margin-left: 20px;
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
@media (min-width: 768px) {
  .contenido-cambios {
    flex-wrap: nowrap;
  }
  .contenido-cambios .imagen-cambios {
    flex: 0 0 40%;
    margin-bottom: 0;
  }
  .contenido-cambios .texto-cambios {
    flex: 0 0 60%;
    padding-left: 20px;
  }
  .contenido-cambios .texto-cambios h1 {
    text-align: center;
  }
}

.formulario-contacto {
  max-width: 500px;
  margin: 0 auto;
}
.formulario-contacto .campo-formulario {
  margin-bottom: 20px;
  font-family: "fuente", Arial, Helvetica, sans-serif;
}
.formulario-contacto .campo-formulario label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.formulario-contacto .campo-formulario input,
.formulario-contacto .campo-formulario textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulario-contacto .campo-formulario textarea {
  height: 150px;
}
.formulario-contacto .boton-formulario {
  text-align: center;
}
.formulario-contacto .boton-formulario button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.formulario-contacto .boton-formulario button:hover {
  background-color: #555;
}

#contenido-productos {
  max-height: 800px;
  overflow-y: auto;
}
#contenido-productos h2 {
  text-align: center;
}
#contenido-productos .fila-productos {
  margin-bottom: 20px;
}
#contenido-productos .producto {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
#contenido-productos .producto:hover .producto-imagen {
  transform: scale(1.2);
}
#contenido-productos .producto figcaption {
  font-family: "fuente", Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin-top: 5px;
  text-align: center;
}
#contenido-productos .producto .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
#contenido-productos .producto .overlay .overlay-content {
  text-align: center;
  color: white;
}
#contenido-productos .producto:hover .overlay {
  opacity: 1;
}
#contenido-productos .producto-imagen {
  transition: transform 0.3s ease;
  cursor: pointer;
  width: 100%;
  height: auto;
  aspect-ratio: 1/1.5;
  object-fit: cover;
}
#contenido-productos .boton-comprar {
  font-size: 1.5em;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  background-color: #333;
  color: white;
}
#contenido-productos .boton-comprar:hover {
  background-color: #555;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideInUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  width: auto;
  box-sizing: border-box;
}

@font-face {
  font-family: "fuente";
  src: url(../resources/ShadowsIntoLight-Regular.ttf) format("truetype");
}
body {
  background-color: black;
  color: white;
  font-family: "fuente", Arial, Helvetica, sans-serif;
}

#contenido-texto {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}
#contenido-texto ol {
  padding-left: 20px;
}
#contenido-texto ul {
  padding-left: 20px;
}
#contenido-texto address {
  font-size: 18px;
}

#mapa-retiro {
  text-align: center;
}
#mapa-retiro h3 {
  margin-top: 20px;
}
#mapa-retiro #mapa {
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
